<!-- <ion-header>

  <ion-navbar>
    <ion-title>test-modal</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content padding>
  <!-- ddddddddddddddddddddddddddddddddd -->
  <div *ngIf="visible=='loginOrSignup'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="light" (click)="login()">Log in</button>
          <button ion-button color="light" (click)="signup()">Sign Up</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="light" (click)="cancel()">Cancel</button>
    </div>
  </div>
  <!-- ddddddddddddddddddddddddddddddddd -->
  <div *ngIf="visible == 'loginContent'">
    <h4 text-center>Log In</h4>
    <div style="border:1px solid;color: #6f6f6f;font-size:18px;">
      <ion-input type="text" placeholder="Email/Username or Telephone" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input type="password" placeholder="Password" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="thcolor" (click)="login()">Login</button>
    </div>
    <div text-center style="font-size:15px;">
      <p>Forgot Password?</p>
    </div>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="light" (click)="lsCancel()">Cancel</button>
    </div>
  </div>
  <!-- ddddddddddddddddddddddddddddddddd -->
  <div *ngIf="visible=='signupContent'">
     <h4 text-center>Sign Up</h4> 
    <div style="border:1px solid;color: #6f6f6f;font-size:18px;">
      <ion-input type="text" placeholder="Email" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input type="password" placeholder="password" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input type="text" placeholder="Full Name" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input type="number" placeholder="Telephone" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>

    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="thcolor" (click)="signup()">Sign Up</button>
    </div>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="light" (click)="lsCancel()">Cancel</button>
    </div>
  </div>
  <!-- ddddddddddddddddddddddddddddddddd -->
</ion-content>