<!-- <ion-header>

  <ion-navbar>
    <ion-title>buying</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="bgcolor">
  <!-- <h4 text-center>Buying</h4> -->
  <div class="pins">
    <div class="pin" *ngFor="let list of offersList">
        <div text-center style="position:relative;">
          <p *ngIf="list?.soldStatus == 'yes'" class="sold-text">SOLD</p>
      <img src="{{list?.offerImage}}" alt="" tappable (click)="goToItemDetail(list)">
        </div>
    </div>
  </div>
  <div text-center *ngIf="!offersList" style="padding-top: 30%">
    <h3>Your not buying yet.</h3>
  </div>
</ion-content>