<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <!-- <h2 text-center>Log In</h2> -->
  <div text-center style="padding-top:5%;">
    <img src="assets/img/logo.png" style="width:50%" alt="">
  </div>

   <div style="padding-top:30%;"></div> 
  <form [formGroup]="loginForm">
    <div style="border:1px solid;color: #6f6f6f;font-size:18px;">
      <ion-input #input formControlName="email" type="email" placeholder="Email/Username or Telephone" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid email.</p>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input formControlName="password" type="password" placeholder="Password" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid password.</p>
    </div>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="thcolor" (click)="login()">Login</button>
    </div>
    <div text-center style="font-size:15px;">
      <p>Forgot Password?</p>
    </div>
    <div text-center style="font-size:15px;" *ngIf="success == false">
      <p style="color: #ea6153">{{failMsg}}</p>
    </div>
    <div style="padding-left:5px;padding-right:10px;">
      <button ion-button large block color="light" (click)="signup()">Sign Up</button>
    </div>
  </form>

</ion-content>