<ion-header>

  <ion-navbar>
    <ion-title>messageModal</ion-title>
    <ion-buttons end>
      <button ion-button clear tappable (click)="cancel()">Cancel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="{{itemDetails?.profileImage}}">
    </ion-thumbnail>
    <h2>Send User a message</h2>
  </ion-item>

  <div style="padding-left:20px;padding-right:20px;padding-top:30px;">
    <div class="font-18" style="border:1px solid green;padding-left:5px;padding-right:5px;border-radius:5px;">
      <ion-textarea style="height:125px;" type="text" placeholder="Offer Description" [(ngModel)]="message"></ion-textarea>
    </div>


    <div style="padding-top:10%;">
      <button ion-button large block color="thcolor" (click)="send()">Send</button>
    </div>
  </div>
</ion-content>