<!-- <ion-header>

  <ion-navbar>
    <ion-title>selling</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="bgcolor">
  <!-- <h4  text-center>Selling</h4> -->
  <grid-layout>
    <div class="grid-image" *ngFor="let list of offersList">
      <div class="pin">
        <div text-center style="position:relative;">
          <p *ngIf="list?.soldStatus == 'yes'" class="sold-text">SOLD</p>
          <img src="{{list?.offerImage}}" alt="" tappable (click)="goToDetails(list)">
        </div>
        <div *ngIf="list?.soldStatus !== 'yes'" text-center style="background-color:whitesmoke;" tappable (click)="bump(list.offerImage, list.offerId)">
          <ion-label no-margin>Bump</ion-label>
        </div>
      </div>
    </div>
  </grid-layout>
  <div text-center *ngIf="!offersList" style="padding-top: 30%">
    <h3>Your not selling anything yet.</h3>
  </div>
</ion-content>





<!--<ion-card no-margin class="catCard" tappable (click)="getCategoryOffers(category.categoryId)">
           <img src="{{category.categoryImage}}" /> 
          <ion-card-content class="catCardContent" text-center>
            <p>
               {{category.category}} 
         
            </p>
          </ion-card-content>
        </ion-card>-->