page-selling {
    .pins {
        column-count: 2;
    }
    .pin {
        display: inline-block; //margin:0 2px 10px;
        //padding:5px;
    }
    #photos {
        /* Prevent vertical gaps */
        line-height: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0px;
        -moz-column-count: 3;
        -moz-column-gap: 0px;
        column-count: 3;
        column-gap: 0px;
    }
    #photos img {
        /* Just in case there are inline attributes */
        width: 100% !important;
        height: auto !important;
    }
    .grid {
        margin: 0 auto;
    }
    .grid-item {
        width: 33%;
        margin: 1px;
    }
    .grid-item--width2 {
        width: 400px;
        ;
        margin-bottom: 2px;
    }

   .sold-text{ position: absolute;
    background: green;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    width: 100%;
    font-weight:bold;
    color:white;
   }
}