<ion-header>

  <ion-navbar color="thcolor">
    <ion-title *ngIf="!locationService.address">Location</ion-title>
    <ion-title *ngIf="locationService.address">{{locationService.address}}</ion-title>
    <ion-buttons end>
      <button ion-button clear tappable (click)="cancel()">Cancel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="mapimage">


  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-2></ion-col>

        <ion-col col-8 style="background-color: rgba(0,0,0,0.65);border-radius:10px;font-size:20px;color:white;">
          <div text-center>

            <ion-label>Get my location</ion-label>

            <button ion-button clear (click)="setLocation()">
              <ion-icon name="md-navigate" style="text-align:center; font-size: 20px"></ion-icon>
            </button>

          </div>
        </ion-col>

        <ion-col col-2></ion-col>
      </ion-row>


      <div text-center style="padding-top:5%;font-size:20px">
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
            <ion-label>OR</ion-label>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
      </div>


      <div text-center style="padding-top:5%;font-size:20px">

        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
            <ion-input style="background-color:white;" text-center
               placeholder="54000" [(ngModel)]="locationService.postalCode">
            </ion-input>
            <button ion-button (click)="getPostalCodeLocation()">Get Location Through Zipcode</button>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>

      </div>

    </ion-grid>
  </div>

  <div style="position: fixed;bottom: 10px;left: 16px;right: 16px;">
    <button ion-button large block color="thcolor" (click)="save()">Save</button>
  </div>

</ion-content>