<!--
  Generated template for the Landing page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>landing</ion-title>
  </ion-navbar>

</ion-header>-->


<!--
<ion-header>
  <ion-toolbar>

   <ion-title start>Send To...</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
            <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
            <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
                  <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
                  <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content class="backgroundcolor">

  <div text-center style="padding-top:5%;">

    <img src="assets/img/logo.png" style="width:50%" alt="">

  </div>


  <div text-center style="padding-top:10%;">
    <ion-grid>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col>
          <h6><span>Quickly Connect With</span></h6>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid style="padding-left:10px;padding-right:10px;">
    <ion-row>
      <button ion-button block large color="fb" (click)="facebook()">FACEBOOK</button>
    </ion-row>
    <ion-row style="padding-top:10px;">
      <button ion-button block large color="vk">VK</button>
    </ion-row>
  </ion-grid>



  <div text-center style="padding-top:20%;">
    <ion-grid>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col>
          <h6><span>Or Use Your Email</span></h6>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block large outline color="thcolor" (click)="goToSignup()">Sign Up</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block large outline color="thcolor" (click)="goToLogin()">Log In</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center style="font-size:15px;">
    <p>By signing up or loggin in, you agree to our Terms & Conditions and Privacy Policy</p>
  </div>

</ion-content>