<ion-tabs #tabs color="tab-light" selectedIndex="tabIndex">
  <ion-tab [root]="tab1Root" tabTitle="{{ 'TABS.HOME' | translate }}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{ 'TABS.ALERTS' | translate }}" tabIcon="ios-chatbubbles"></ion-tab>
  <ion-tab (ionSelect)="goToTab()" tabTitle="{{ 'TABS.POST' | translate }}" tabIcon="md-camera"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{ 'TABS.OFFERS' | translate }}" tabIcon="md-pricetag"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="{{ 'TABS.ACCOUNT' | translate }}" tabIcon="ios-person"></ion-tab>
</ion-tabs>