<ion-header>

	<ion-navbar color="thcolor">
		<ion-buttons end>
			<button style="font-size:20px;" ion-button [navPush]="'Categories'">
				<!-- <span color="light" showWhen="ios">Cancel</span> -->
				<ion-icon name="ios-keypad"></ion-icon>
			</button>

			<button style="font-size:20px;" ion-button [navPush]="'Categories'">
				<!-- <span color="light" showWhen="ios">Cancel</span> -->
				<ion-icon name="ios-person-add"></ion-icon>
			</button>

			<button style="font-size:20px;" ion-button (click)="setLocation()">
				<!-- <span color="light" showWhen="ios">Cancel</span> -->
				<ion-icon name="pin"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Proday24</ion-title>
	</ion-navbar>

	<ion-grid no-padding style="background:rgb(0, 166, 81);">
		<ion-row>
			<ion-col col-10>
				<ion-searchbar style="background:rgb(0, 166, 81);border:0px !important;" [formControl]="term" [showCancelButton]="true"></ion-searchbar>
			</ion-col>
			<ion-col col-2>
				<ion-label class="labelfilter" [navPush]="'FilterPage'" style="text-align:center !important;color:white;">{{ 'HOME.FILTER' | translate }}</ion-label>
			</ion-col>
		</ion-row>
		<ion-list>
			<ion-item *ngFor="let item of (items | async)?.data?.offersList" (click)="goToItemDetail(item)">
				{{item.title}}
			</ion-item>
		</ion-list>
	</ion-grid>

	<div style="margin-top:5px !important; margin-bottom:5px !important;">
		<ion-label no-margin>Items near {{locationService.address}}</ion-label>
	</div>
</ion-header>


<ion-content class="bgcolor">
	<!-- <grid-layout [virtualScroll]="pS.offersList" [noOffersYet]="noOffersYet">
		<div class="grid-image" *virtualItem="let list">
			<img-loader [src]="list.offerImage" alt="" tappable (click)="goToItemDetail(list)"></img-loader>
		</div>
	</grid-layout> -->
	<grid-layout [noOffersYet]="noOffersYet" >
		<div class="grid-image" *ngFor="let list of pS.offersList">
			<div text-center style="position:relative;">
				<p class="sold-text" *ngIf="list.featured == 'yes'">Featured</p>
				<!-- <img [src]="list.offerImage" tappable (click)="goToItemDetail(list)"> -->
				<img-loader [src]="list.offerImage" tappable (click)="goToItemDetail(list)" useImg></img-loader>
			</div>
		</div>
	</grid-layout>
	<!-- <div text-center *ngIf="noOffersYet" style="padding-top: 30%">
		<h3>No Offers posted yet</h3>
	</div> -->
	<!-- <div class="pins" [virtualScroll]="pS.offersList">
		<div *virtualItem="let list" tappable (click)="goToItemDetail(list)">
			<ion-img width="100px" height="100px" class="pin" src="{{list.offerImage}}" alt=""></ion-img>
		</div>
	</div> -->
</ion-content>