page-home-page {
    // .grid {
    //         margin: 0 auto;
    //     }
    //     .grid-item { width: 33%;margin:1px; }
    //     .grid-item--width2 { width: 400px; ;margin-bottom:2px;}
    .pins {
        column-count: 3 !important;
    }
    .pin {
        display: list-item !important; //margin:0 2px 10px;
        //padding:5px;
    }
    #photos {
        /* Prevent vertical gaps */
        line-height: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0px;
        -moz-column-count: 3;
        -moz-column-gap: 0px;
        column-count: 3;
        column-gap: 0px;
    }
    #photos img {
        /* Just in case there are inline attributes */
        width: 100% !important;
        height: auto !important;
    }
    .grid {
        margin: 0 auto;
    }
    .grid-item {
        width: 33%;
        margin: 1px;
    }
    .grid-item--width2 {
        width: 400px;
        ;
        margin-bottom: 2px;
    }
    .sold-text {
        position: absolute;
        background: #94941a;
        margin-top: 0px;
        margin-bottom: 0px;
        top: 0px;
        width: 100%;
        font-weight: bold;
        color: white;
    }
}
// ion-modal.show-page {
//     // @media (min-width: 300px) and (min-height: 500px) {
//     //     ion-backdrop {
//     //         visibility: visible;
//     //     }
//     // }
//     .modal-wrapper {
//         background-color: #F8F8F8;
//         position: absolute;
//         overflow: hidden; // max-width: 280px;
//         border-radius: 5px;
//         width: 100%;
//         height: 100vh;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         margin: auto;
//         border: 0;
//         box-shadow: 0 16px 20px rgba(0, 0, 0, .4); //   background-color: #fafafa;
//     }
// }