<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Post an Ad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="bgcolor">



  <div class="padding-top">

    <!-- <ion-item no-padding>
      <ion-label class="font-18">Select a Category</ion-label>
      <ion-select class="font-18" [(ngModel)]="gaming">
        <ion-option value="nes">NES</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
        <ion-option value="ps">PlayStation</ion-option>
        <ion-option value="genesis">Sega Genesis</ion-option>
        <ion-option value="saturn">Sega Saturn</ion-option>
        <ion-option value="snes">SNES</ion-option>
      </ion-select>
    </ion-item> -->

    <!--<button ion-button large block color="light">Select Category</button>-->
  </div>



  <ion-grid no-padding style="padding-top:20px !important;">
    <ion-row style="background-color:white;">
      <ion-col col-9>
        <!-- <ion-label style="padding-left:16px;">{{postService.selectedCategory.category}}</ion-label> -->
        <ion-label *ngIf="postService.selectedCategory.categoryId == 0" style="padding-left:16px;">Category</ion-label>
        <ion-label *ngIf="postService.selectedCategory.categoryId !== 0" style="padding-left:16px;">
          {{postService.selectedCategory.category}}
        </ion-label>
      </ion-col>
      <ion-col col-3>
        <!-- <ion-label style="float:right;">Edit</ion-label> -->
        <button *ngIf="postService.selectedCategory.categoryId == 0"
        ion-button clear color="thcolor" (click)="categories()">Select</button>
        <button *ngIf="postService.selectedCategory.categoryId !== 0"
          ion-button clear color="thcolor" (click)="categories()">Edit</button>
      </ion-col>
    </ion-row>
  </ion-grid>





  <div padding class="padding-top">
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-4>
          <ion-label class="font-18">Condition</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label class="font-18">{{postService.conditionDescription[condition]}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<ion-label class="font-18">Condition</ion-label>-->
    <!--<ion-label>step=100, snaps, </ion-label>-->
    <ion-range style="padding:0px;" class="font-18" min="0" max="5" step="1" pin="true" snaps="true" color="danger" [(ngModel)]="condition">

      <!-- <ion-label range-left color="danger">0</ion-label>
      <ion-label range-right color="danger">5</ion-label> -->

    </ion-range>
  </div>




  <div padding class="padding-top">
    <ion-label stacked class="font-18" style="padding-bottom:5px;">Description (optional)</ion-label>
    <div class="font-18" style="border:1px solid green;padding-left:5px;padding-right:5px;border-radius:5px;">
      <ion-textarea style="height:125px;" type="text" placeholder="Offer Description"></ion-textarea>
    </div>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <!--<h1><span class="blue">3</span></h1>-->
    <div style="padding-left:10px;padding-right:10px;">


        <button ion-button large block color="thcolor" [navPush]="'AdPrice'">Next</button>


        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 542.03 123.1"><defs><style>.cls-1,.cls-3{fill:#4fba6f;}.cls-2,.cls-3,.cls-5{font-size:41.93px;font-family:Myriad Pro;}.cls-2{fill:#fff;}.cls-4,.cls-5{fill:#d1d3d4;}.cls-6{letter-spacing:-1px;}.cls-7{fill:#bcbec0;}</style></defs><title>proday wizard</title><circle class="cls-4" cx="52.52" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(41.76 47.83)">1</text><text class="cls-5" transform="translate(0 112.61)">P<tspan x="22.1" y="0">ho</tspan><tspan x="68.39" y="0">t</tspan><tspan x="82.02" y="0">o</tspan></text><circle class="cls-1" cx="198.67" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(187.92 46.68)">2</text><text class="cls-3" transform="translate(138.92 112.61)">D<tspan x="28.09" y="0">etails</tspan></text><circle class="cls-4" cx="344.82" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(334.07 46.68)">3</text><text class="cls-5" transform="translate(302.39 112.61)">P<tspan x="21.64" y="0">r</tspan><tspan x="35.52" y="0">i</tspan><tspan x="45.33" y="0">c</tspan><tspan x="63.86" y="0">e</tspan></text><circle class="cls-4" cx="490.98" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(480.22 46.68)">4</text><text class="cls-5" transform="translate(439.93 112.61)"><tspan class="cls-6">F</tspan><tspan x="19.33" y="0">inish</tspan></text><circle class="cls-7" cx="107.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="125.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="143.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="253.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="271.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="289.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="399.9" cy="34.37" r="7.06"/><circle class="cls-7" cx="417.9" cy="34.37" r="7.06"/><circle class="cls-7" cx="435.9" cy="34.37" r="7.06"/></svg>
        
        
        




    </div>
  </ion-toolbar>
</ion-footer>