<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button (click)="selectCategory(category.category, category.categoryId)"ion-item *ngFor="let category of categories">
      {{category.category}}
    </button>
  </ion-list>
</ion-content>