<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>{{itemDetails?.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bgcolor">
  <ion-slides style="width:100%;height:60%;" pager paginationType="fraction" autoplay="5000" *ngIf="itemImages.length > 0">
    <ion-slide *ngFor="let image of itemImages" [style.background-image]="getBackground(image)" style="background-size: cover; -webkit-background-size: cover;
      -moz-background-size: cover; background-repeat: no-repeat;
      background-position: center;">
    </ion-slide>
  </ion-slides>
  <div class="saleCallout" style="position:absolute;z-index:99;top:45%;">
    <h5>ASKING ${{itemDetails?.price}}</h5>
  </div>


  <div style="z-index: 9999999;position: absolute;top: 1%;right: 10px;" tappable (click)="toggleWatchList()">
    <ion-icon *ngIf="!isWatchlist" style="font-size:300%;color:white;" name="ios-heart-outline"></ion-icon>
    <ion-icon *ngIf="isWatchlist" style="font-size:300%;color:rgb(238, 14, 14);" name="ios-heart"></ion-icon>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-10 no-padding>
        <ion-label class="font-26" style="font-weight:bold;" text-wrap>{{itemDetails?.title}}</ion-label>
      </ion-col>
      <ion-col col-2 no-padding>

        <ion-fab right top>
          <button color="light" ion-fab style="color:#00a651;" (click)="share()">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-label class="font-18" style="color:gray;" text-wrap no-margin>{{itemDetails?.categoryName}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="font-18" text-wrap no-margin style="padding-top:5px;color:gray;">
        <ion-icon name="md-calendar"></ion-icon> Posted {{(itemDetails?.dateCreated) * 1000 | relativeTime}} ago</ion-label>
    </ion-row>

    <div style="border-bottom:ridge;padding-top:15px;"></div>

    <ion-row>
      <ion-item no-padding class="trans" tappable (click)="getSellerProfile()">
        <ion-avatar item-start>
          <img src="{{itemDetails?.profileImage}}">
        </ion-avatar>
        <h2 style="font-weight:bold;">{{itemDetails?.profileName}}</h2>
        <!-- <p>{{(itemDetails?.dateCreated) * 1000 | date}}</p> -->
        <rating [ngModel]="itemDetails?.rating" readOnly="true" max="5" emptyStarIconName="md-star-outline" starIconName="md-star">
        </rating>
      </ion-item>
    </ion-row>


    <div style="border-bottom:ridge"></div>

    <ion-row>
      <ion-label class="font-18">Description</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="font-18" text-wrap no-margin>{{itemDetails?.description}}</ion-label>

    </ion-row>




    <div style="border-bottom:ridge;padding-top:15px;"></div>
    <ion-row>

      <ion-label class="font-18">Condtion</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="font-18" text-wrap no-margin>{{postService.conditionDescription[itemDetails?.condition]}}</ion-label>
    </ion-row>
  </ion-grid>


  <div style="border-top:ridge;padding-top:15px;"></div>
  <br>
  <google-map *ngIf="itemDetails" [lat]="itemDetails.latitude" [lng]="itemDetails.longitude"></google-map>

  <ion-list class="font-20">

    <ion-item tappable class="thcolor trans font-20" (click)="toggleWatchList()">
      <ion-icon name="ios-heart"></ion-icon>
      Save to Watchlist
    </ion-item>
    <ion-item tappable class="thcolor trans font-20" (click)="messageSeller()">
      <ion-icon name="md-chatboxes"></ion-icon>
      Message Seller
    </ion-item>
    <ion-item tappable class="thcolor trans font-20" (click)="share()">
      <ion-icon name="md-share"></ion-icon>
      Share this Item
    </ion-item>
    <ion-item tappable class="thcolor trans font-20" (click)="report()">
      <ion-icon name="ios-flag"></ion-icon>
      Report Item
    </ion-item>
  </ion-list>


  <div style="padding-top:30px;"></div>
  <div style="position:fixed;bottom:0px;width:100%;z-index:999">
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col width-50>
          <button *ngIf="!fromSelling" color="light" ion-button block item-end icon-left (click)="messageSeller()" style="color:#00a651;">
            <ion-icon name="md-chatboxes"></ion-icon>ASK</button>
        </ion-col>
        <ion-col width-50>
          <button *ngIf="!fromSelling" color="thcolor" ion-button block (click)="makeOffer()">MAKE OFFER</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>