page-item-detail {

    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
    }


    .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
    }
    .modal-wrapper {
        background-color: #F8F8F8;
        position: absolute;
        overflow: hidden; // max-width: 280px;
        border-radius: 5px;
        width: 90%;
        height: 70vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0, 0, 0, .4); //   background-color: #fafafa;
    }

    .testStyle {
        background-image: inline-image("https://pbs.twimg.com/profile_images/772061312545415169/b78PaZsl.jpg");
        background-position: 50% 50%;
        background-size: auto 14px;
        background-repeat: no-repeat;
    }
    $tag-color: #008CBA;
    $tag-shadow: #272f75;
    .saleCallout {
        display: inline-block;
        box-sizing: content-box;
        height: 22px;
        position: relative;
        content: "";
        cursor: pointer;
        margin: 0 13px 0 0;
        padding: 10px 20px 10px 8px;
        border: none;
        border-radius: 4px 1px 1px 4px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-transform: uppercase;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background: $tag-color;
        box-shadow: 0 5px 0 0 $tag-shadow, 5px 5px 0 0 $tag-shadow;
        transform: rotate(20deg);
        top: 20px;
        h5 {
            font-family: arial;
            font-size: 20px;
            color: #fff;
            margin-top: 0;
        }
        &:before {
            display: inline-block;
            box-sizing: content-box;
            z-index: 1;
            width: 30px;
            height: 30px;
            position: absolute;
            content: "";
            cursor: pointer;
            top: 6px;
            right: -16px;
            border: none;
            border-radius: 1px 1px 4px;
            color: #fff;
            -o-text-overflow: clip;
            text-overflow: clip;
            background: $tag-color;
            box-shadow: 0 6px 0 0 $tag-shadow;
            text-shadow: none;
            transform: rotateY(1deg) rotateZ(-45deg);
        }
        &:after {
            display: inline-block;
            box-sizing: content-box;
            z-index: 2;
            width: 12px;
            height: 12px;
            position: absolute;
            content: "";
            cursor: pointer;
            top: 16px;
            right: 0;
            border: none;
            border-radius: 10px;
            color: rgba(255, 255, 255, 0.9);
            -o-text-overflow: clip;
            text-overflow: clip;
            background: #fcfcfc;
            box-shadow: 5px 5px 0 0 $tag-shadow inset;
            text-shadow: none;
        }
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        left: 42%;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
    ul {
        margin:0px;
        padding: 0px;
        &.rating li {
            padding: 1px 1px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 30px;
            }
        }
    }
}
modal {
    background-color: rgba(0, 0, 0, 0.5);
    ion-content.content{
        top: 10%;
        left: 10%;

        width: 80%;
        height: 80%;
        border-radius: 20px;
        .scroll-content {
            border-radius: 20px;
        }
    }
}

// ion-modal.show-page {
//     // @media (min-width: 300px) and (min-height: 500px) {
//     //     ion-backdrop {
//     //         visibility: visible;
//     //     }
//     // }
// }
        // .modal-wrapper {
        //     background-color: #F8F8F8;
        //     position: absolute;
        //     overflow: hidden; // max-width: 280px;
        //     border-radius: 5px;
        //     width: 90%;
        //     height: 70vh;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     margin: auto;
        //     border: 0;
        //     box-shadow: 0 16px 20px rgba(0, 0, 0, .4); //   background-color: #fafafa;
        // }