<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Report</ion-title>
    <ion-buttons end>
      <button ion-button clear tappable (click)="cancel()">Cancel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color:whitesmoke;">

  <ion-item nolines style="background-color: transparent;">
    <ion-thumbnail item-start>
      <img src="{{itemDetails?.profileImage}}">
    </ion-thumbnail>
    <h2>{{itemDetails?.profileName}}</h2>
    <p>{{(itemDetails?.dateCreated) * 1000 | date}}</p>

  </ion-item>

  <div padding>

    <ion-list>
      <h6 padding-left padding-top>Why do you want to report this item? </h6>

      <div *ngFor="let text of reportText">
        <ion-item (click)="report(text)">{{text}}</ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>