<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>sellingDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgcolor">
  <div style="background-color:white;">
    <ion-item tappable (click)="goToItemDetail(item)">
      <ion-thumbnail item-start>
        <img src="{{item?.offerImage}}">
      </ion-thumbnail>
      <h2 text-wrap>{{item?.title}}</h2>
      <p>{{item?.price}}</p>
      <ion-icon name="ios-arrow-forward" item-end>
      </ion-icon>
    </ion-item>

    <ion-grid style="padding-top:0px;">
      <ion-row>
        <ion-col col-7>
          <button ion-button block color="thcolor" (click)="markAsSold(item)">Marked as Sold</button>
        </ion-col>
        <ion-col col-3><button ion-button block color="light" >Edit</button></ion-col>
        <ion-col col-2><button ion-button block color="light"><ion-icon name="md-more"></ion-icon></button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    <ion-item tappable *ngFor="let offerMsg of offersMessages" (click)="chat(offerMsg)">
      <ion-avatar item-start>
        <img src="{{offerMsg.image}}">
      </ion-avatar>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <h2 text-wrap>{{offerMsg.name}}</h2>
          </ion-col>
          <ion-col style="text-align:right;">
            <p>2months ago</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Message</p>
          </ion-col>
          <ion-col style="text-align:right;">
            <p>$50</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-item>
    <ion-icon item-start name="md-close"></ion-icon>
    <h2 text-wrap>Bump this Item!</h2>
    <p text-wrap>Bumping your item in the feed will help more buyers see it.</p>
    <!-- <ion-icon item-end name="ios-arrow-forward" item-end>
        </ion-icon> -->
    <button color="thcolor" ion-button icon-left outline item-end style="height:40px !important;">
            <ion-icon name="trending-up"></ion-icon>
            Bump!
          </button>
  </ion-item>
</ion-footer>