page-selling-detail {



    .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
     }
     
     .item-md ion-avatar ion-img, .item-md ion-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
     }
}
