<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Alerts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <page-registration *ngIf="!isLoggedIn"></page-registration> -->
  <!-- <div *ngIf="isLoggedIn">
  </div> -->
  <div *ngIf="isLoggedIn">
    <ion-list>
      <ion-item tappable *ngFor="let msg of messages" (click)="chat(msg)">
        <ion-avatar item-start>
          <img src="{{msg.image}}">
        </ion-avatar>
        <h2 text-wrap>{{msg.name}}</h2>
        <p>2 Wks ago.</p>
        <!-- <ion-thumbnail item-end>
          <img src="http://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg">
        </ion-thumbnail> -->
      </ion-item>

      <!-- 
      <ion-item>
        <ion-avatar item-start>
          <img src="http://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg">
        </ion-avatar>
        <h2 text-wrap>Chekajndsjkadakjdkjadkjadhkjahkjdahkjdhakjdhr</h2>
        <p>2 Wks ago.</p>
        <ion-thumbnail item-end>
          <img src="http://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg">
        </ion-thumbnail>
      </ion-item>


      <ion-item>
        <ion-avatar item-start>
          <img src="http://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg">
        </ion-avatar>
        <h2 text-wrap>Chekajndsjkadakjdkjadkjadhkjahkjdahkjdhakjdhr</h2>
        <p>2 Wks ago.</p>
        <ion-thumbnail item-end>
          <img src="http://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg">
        </ion-thumbnail>
      </ion-item> -->

    </ion-list>
    <div text-center *ngIf="!messages" style="padding-top: 30%">
      <h3>You have no messages.</h3>
    </div>
  </div>
</ion-content>