<ion-header>

  <ion-navbar>
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="close()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- <div text-center>
    <ion-label class="font-20">Invite a Friend</ion-label>
  </div> -->
  <ion-list>

    <!-- <button ion-item ion-fab mini><ion-icon name="add"></ion-icon></button> -->
    <ion-item>
      <span item-left ion-fab mini>
        <ion-icon name="logo-facebook"></ion-icon>
      </span>Facebook
      <ion-icon item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <span item-left ion-fab mini>
        <ion-icon name="ios-chatbubbles"></ion-icon>
      </span>Message
      <ion-icon item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <span item-left ion-fab mini>
        <ion-icon name="ios-mail"></ion-icon>
      </span>Email
      <ion-icon item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <span item-left ion-fab mini>
        <ion-icon name="ios-link"></ion-icon>
      </span>Copy Link
      <ion-icon item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <span item-left ion-fab mini>
        <ion-icon name="ios-more"></ion-icon>
      </span>More..
      <ion-icon item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>