page-share-modal {

    
}
ion-modal.my-popup {
    @media (min-width: 300px) and (min-height: 500px) {
      ion-backdrop {
        visibility: visible;
      }
    }
  
    .modal-wrapper {
      position: absolute;
      overflow: hidden;
      max-width: 280px;
      border-radius: 5px;
      width: 80vw;
      height: 65vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      background-color: #fafafa;
    }
  }

// ion-modal.show-modal {
//     // @media (min-width: 300px) and (min-height: 500px) {
//     //     ion-backdrop {
//     //         visibility: visible;
//     //     }
//     // }
    
//     .modal-wrapper {
//         background-color: #F8F8F8;
//         position: absolute;
//         overflow: hidden; // max-width: 280px;
//         border-radius: 5px;
//         width: 90%;
//         height: 70vh;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         margin: auto;
//         border: 0;
//         box-shadow: 0 16px 20px rgba(0, 0, 0, .4); //   background-color: #fafafa;
//     }
// }
