<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Filter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgcolor">


  <ion-grid>


    <div class="padding-top">
      <ion-row>
        <ion-label>LOCATION</ion-label>
      </ion-row>
      <ion-row style="background-color:white;">
        <ion-col col-10>
          <ion-label>{{locationService.address}}</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label style="float:right;" tappale [navPush]="'LocationPage'">Edit</ion-label>
        </ion-col>
      </ion-row>
    </div>


    <div class="padding-top">
      <ion-row>
        <ion-label>DISTANCE</ion-label>
      </ion-row>
      <ion-row style="background-color:white;">
        <ion-label class="font-18">{{pS.filters.radius}} MILES</ion-label>
        <!--<ion-label>step=100, snaps, </ion-label>-->

      </ion-row>
      <div style="background-color:white;">
        <ion-range style="padding:0px;" class="font-18" min="5" max="40" step="10" pin="true" snaps="true" color="danger" [(ngModel)]="pS.filters.radius">

          <ion-label range-left color="danger">5</ion-label>
          <ion-label range-right color="danger">40</ion-label>

        </ion-range>
      </div>
    </div>


    <div class="padding-top">
      <ion-row>
        <ion-label>PRICE</ion-label>
      </ion-row>
      <ion-row>
        <ion-col col-5>

          <div class="" style="border:1px solid green">
            <ion-input [(ngModel)]="pS.filters.priceFrom" class="font-26" text-center type="text" placeholder="$ Min"></ion-input>
          </div>

        </ion-col>

        <ion-col col-2>
          <div text-center style="padding-top:15px;">to</div>
        </ion-col>
        <ion-col col-5>
          <div class="" style="border:1px solid green">
            <ion-input [(ngModel)]="pS.filters.priceTo" class="font-26" text-center type="text" placeholder="$ Max"></ion-input>
          </div>

        </ion-col>
      </ion-row>
    </div>
    <div class="padding-top">
      <ion-row>
        <ion-label>SORT BY</ion-label>
      </ion-row>
    </div>
    <ion-list radio-group [(ngModel)]="pS.filters.sortBy">
      <ion-item>
        <ion-label>Closest</ion-label>
        <ion-radio value="closest"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Newest</ion-label>
        <ion-radio value="newest"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Price: Low to High</ion-label>
        <ion-radio value="LtoH"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Price: High to Low</ion-label>
        <ion-radio value="HtoL"></ion-radio>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <br>
  </ion-grid>


  <div style="position: fixed;bottom: 10px;left: 16px;right: 16px;">
    <button ion-button large block color="thcolor" (click)="apply()">Apply</button>
  </div>
</ion-content>