
<!-- <ion-header>

  <ion-navbar>
    <ion-title>boards</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <div class="pins" *ngIf="boardList?.length > 0">
    <div class="pin" *ngFor="let list of boardList">
      <img src="{{list?.offerImage}}" alt="" tappable (click)="goToItemDetail(list)">
    </div>
  </div>

  <div text-center *ngIf="!boardList" style="padding-top: 30%">
    <h3>No Boards Yet</h3>
  </div>



</ion-content>
