page-profile {
    .pins {
        column-count: 3;
    }
    .pin {
        display: list-item; //margin:0 2px 10px;
        //padding:5px;
    }
    .topcontent {
        position: relative; // width: 100%;
        // height: 20%;
        // background-color: green;
        background-image: url(http://www.3m.com/wps/wcm/connect/6f02b8cd-55fd-4a0f-907b-6322d99f9abb/1200x340_Mesh_Header_Green-LightGreen.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-6f02b8cd-55fd-4a0f-907b-6322d99f9abb-kKeykHI);
        background-size: cover;
        width: 100%;
        height: 20%;
        resize: both;
    } // #avatar {
    //     /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    //     // background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    //     /* make a square container */
    //     width: 125px;
    //     height: 125px;
    //     /* fill the container, preserving aspect ratio, and cropping to fit */
    //     background-size: cover;
    //     /* center the image vertically and horizontally */
    //     background-position: center;
    //     /* round the edges to a circle with border radius 1/2 container size */
    //     border-radius: 50%;
    //     position: absolute;
    //     z-index: 999;
    //     top: 11%;
    //     left: 32%;
    //     border: 1px solid white;
    // }
    #avatar {
        position: relative;
        top: -15px;
        display: block;
        width: 150px;
        height: 150px;
        margin: 1em auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-border-radius: 99em;
        -moz-border-radius: 99em;
        border-radius: 99em;
        border: 5px solid #eee;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
    .fab[mini] {
        margin: 8px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .fab ion-icon {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 1.4rem;
    }
    .itempadding {
        padding-left: 5px !important;
    }
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 30px;
            }
        }
    }
}