<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>{{profileData.profileInfo.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="topcontent">
    <br>

    <div class="font-22" style="text-align:right;padding-right:10px;">
      <ion-icon color="light" name="md-person-add" style="padding-right:10px;"></ion-icon>
      <ion-icon color="light" name="settings" style="padding-right:10px;"></ion-icon>
      <ion-icon color="light" name="help-circle"></ion-icon>
    </div>

    <div id="avatar" [style.background-image]="image">
  </div>



  </div>



  <div style="padding-top:18%;" text-center>
    <ion-label>{{profileData.profileInfo.name}}</ion-label>
    <!-- <ion-label>city,country</ion-label> -->
    <rating [ngModel]="profileData.profileInfo?.rating" readOnly="true" max="5" emptyStarIconName="md-star-outline" starIconName="md-star"></rating>

  </div>

  <div style="background-color:whitesmoke;">

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-label>My Offers</ion-label>
        </ion-col>
        <ion-col col-8 text-right>
          <button ion-button icon-only small color="thcolor">
            <ion-icon name="star"></ion-icon>
          </button>
          <button *ngIf="!profileData.followingStatus" ion-button small color="thcolor" (click)="follow()">
            Follow
          </button>
          <button *ngIf="profileData.followingStatus" ion-button small color="thcolor" (click)="follow()">
            Unfollow
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="pins">
      

        <div class="pin" *ngFor="let list of profileData?.offersList" tappable (click)="goToItemDetail(list)">
          <img src="{{list?.offerImage}}" alt="">
        </div>


    </div>

  </div>





</ion-content>