<ion-content padding>
  <page-landing [hidden]="hideRegistration"></page-landing>
  <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
    <button ion-button large block color="light" (click)="register()">Login In</button>
  </div>
  <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
    <button ion-button large block color="light" (click)="register()">Sign Up</button>
  </div>
</ion-content>