page-rate-buyer {
    #avatar {
        // background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
        //position: relative;
        top: 30px;
        display: block;
        width: 150px;
        height: 150px;
        margin: 1em auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-border-radius: 99em;
        -moz-border-radius: 99em;
        border-radius: 99em;
        border: 5px solid #eee;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
    ul {
        padding: 0px;
        padding-left: 20%;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 30px;
            }
        }
    }
}