<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Rate the Buyer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item tappable>
    <ion-thumbnail item-start>
      <img src="{{item?.offerImage}}">
    </ion-thumbnail>
    <h2 text-wrap>{{item?.title}}</h2>
    <p>{{item?.price}}</p>
  </ion-item>
  <div>
    <div id="avatar" [style.background-image]="profileImage" tappable>

    </div>

    <h4 text-center>Would you sell again to ? </h4>

    <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="md-star-outline" starIconName="md-star"
      nullable="false" (ngModelChange)="rating($event)">
    </rating>
  </div>



</ion-content>




<ion-footer style="border-top: 1px solid grey;">
  <div style="padding:5px;" *ngIf="rate > 0">
    <button ion-button block color="thcolor" (click)="submitReview()">Submit Rating</button>
  </div>
</ion-footer>