<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bgcolor">

  <div text-center style="padding-top:16px;">
    <ion-label class="font-18">Settings</ion-label>
  </div>


  <ion-grid>


    <div class="padding-top">
      <ion-row>
        <ion-label>NAME</ion-label>
      </ion-row>
      <ion-row style="background-color:white;">
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]="fields.name" placeholder="Username" [disabled]="fieldsDisabled.name"></ion-input>
        </ion-col>
        <ion-col col-2>
          <!-- <ion-label style="float:right;">Edit</ion-label> -->
          <button ion-button clear style="float:right;" (click)="enableInput('name')">Edit</button>
        </ion-col>
      </ion-row>
    </div>



    <div class="padding-top">
      <ion-row>
        <ion-label>EMAIL</ion-label>
      </ion-row>
      <ion-row style="background-color:white;">
        <ion-col col-10>
          <ion-input type="email" [(ngModel)]="fields.email" placeholder="Username" [disabled]="fieldsDisabled.email"></ion-input>
        </ion-col>
        <ion-col col-2>
          <!-- <ion-label style="float:right;">Edit</ion-label> -->
          <button ion-button clear style="float:right;" (click)="enableInput('email')">Edit</button>
        </ion-col>
      </ion-row>
    </div>


    <div class="padding-top">
      <ion-row>
        <ion-label>PHONE NUMBER</ion-label>
      </ion-row>
      <ion-row style="background-color:white;">
        <ion-col col-10>
          <ion-input type="number" [(ngModel)]="fields.phone" placeholder="Username" [disabled]="fieldsDisabled.phone"></ion-input>
        </ion-col>
        <ion-col col-2>
          <!-- <ion-label style="float:right;">Edit</ion-label> -->
          <button ion-button clear style="float:right;" (click)="enableInput('phone')">Edit</button>
        </ion-col>
      </ion-row>
    </div>




    <div class="padding-top">
      <ion-row>
        <ion-label>PASSWORD</ion-label>
      </ion-row>
      <ion-row style="background-color:white;">
        <ion-col col-10>
          <ion-input type="password" placeholder="Username"></ion-input>
        </ion-col>
        <ion-col col-2>
          <!-- <ion-label style="float:right;">Edit</ion-label> -->
          <button ion-button clear style="float:right;">Edit</button>
        </ion-col>
      </ion-row>
    </div>




    <div style="padding-top:25px;">

      <ion-row style="background-color:white;">
        <ion-col col-10>
          <ion-label style="float:left;">Newsletter</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-toggle color="thcolor" style="float:right;" checked="true"></ion-toggle>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
    <button ion-button large block color="thcolor" (click)="save()">Save</button>
  </div>





</ion-content>