 <ion-header no-shadow no-border>
  <ion-navbar color="thcolor">
    <button ion-button menuToggle color="yellow">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Offers</ion-title>
  </ion-navbar>
</ion-header> 
<ion-content no-bounce>
  <super-tabs *ngIf="isLoggedIn" id="mainTabs" toolbarColor="dark" toolbarBackground="light" indicatorColor="thcolor"
    badgeColor="yellow" (tabSelect)="onTabSelect($event)">
    <super-tab [root]="page1" [title]="showTitles? 'Selling' : ''" id="page4"></super-tab>
    <super-tab [root]="page2" [title]="showTitles? 'Buying' : ''" id="page5"></super-tab>
    <super-tab [root]="page3" [title]="showTitles? 'Boards' : ''" id="page6"></super-tab>
  </super-tabs>
</ion-content>