page-categories {


.catCard{
    padding:2px;
    width: 100%
}


.catCardContent{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}


ion-card img {
    display: block;
    width: 100%;
    height: 112px;
}


}
