<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="backgound-image">

  <ion-grid>
    <ion-row *ngFor="let i of rows;">
      <ion-col col-6 *ngFor="let category of categories | slice:(i*2):(i+1)*2">
        <!-- <p>
          {{m.title}}
        </p> -->
        <ion-card no-margin class="catCard" tappable (click)="getCategoryOffers(category.categoryId)">
           <img src="{{category.categoryImage}}" /> 
          <ion-card-content class="catCardContent" text-center>
            <p>
               {{category.category}} 
              <!-- {{m.title}} -->
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-item *ngFor="let category of categories; let i = index">
      <ion-row>
        <ion-col col-6>
          <ion-card no-margin class="catCard">
            <img src="{{category.categoryImage}}" />
            <ion-card-content class="catCardContent" text-center>
              <p>
                {{category.category}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card no-margin class="catCard">
            <img src="{{category.categoryImage[0]}}" />
            <ion-card-content class="catCardContent" text-center>
              <p>
                {{category.category}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item> -->
    <!-- <ion-row no-wrap *ngFor="let category of categories; let i = index">
      <ion-card style="width: 40%" no-margin class="catCard">
        <img src="{{category.categoryImage}}" />
        <ion-card-content class="catCardContent" text-center>
          <p>
            {{category.category}}
          </p>
        </ion-card-content>
      </ion-card> -->
    <!-- <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="{{i.categoryImage}}" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              {{i.category}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="[i].categoryImage" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              {{[i].category}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    <!-- </ion-row> -->


    <!-- <ion-row>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="assets/img/nin-live.png" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              From People I Follow
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="assets/img/nin-live.png" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              Babies & Kids
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="assets/img/nin-live.png" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              Furniture
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="assets/img/nin-live.png" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              Clothing & Shoes
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="assets/img/nin-live.png" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              Cars
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card no-margin class="catCard">
          <img src="assets/img/nin-live.png" />
          <ion-card-content class="catCardContent" text-center>
            <p>
              Cell Phones
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->

  </ion-grid>




</ion-content>