// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  fb:         #3b5998,
  google:     #da4e3d,
  vk:         #507299,
  thcolor:    #00a651
);
.platform-android .labelfilter {
  margin-top: 18px !important;
}

$tabs-ios-tab-text-color-active:#00a651;

$tabs-ios-tab-icon-color-active: #00a651;

$tabs-md-tab-text-color-active:#00a651;

$tabs-md-tab-icon-color-active: #00a651;
// .modal-wrapper {
//     position: absolute;
//     width: 90%;
//     height: 65%; 
//     top: 20%;
//     left: 5%;
//     background: rgba(0,0,0,4.5);
//   }

//   @media not all and (min-height: 600px) and (min-width: 768px) {
//   ion-modal ion-backdrop {
//     visibility: visible;
//   }
// }

// ion-modal.my-popup {
  // @media (min-width: 300px) and (min-height: 500px) {
  //   ion-backdrop {
  //     visibility: visible;
  //   }
  // }

//   .modal-wrapper {
//     position: absolute;
//     overflow: hidden;
//     max-width: 280px;
//     border-radius: 2px;
//     width: 80vw;
//     height: 50vh;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     border: 0;
//     box-shadow: 0 16px 20px rgba(0,0,0,.4);
//     background-color: #fafafa;
//   }
// }
// .modal-wrapper {
//     position: absolute;
//     overflow: hidden;
//     max-width: 280px;
//     border-radius: 2px;
//     width: 90%;
//     height: 70vh;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     border: 0;
//     box-shadow: 0 16px 20px rgba(0,0,0,.4);
//     background-color: #fafafa;
//   }

  //   @media (min-width: 600px) and (min-height: 768 px) {
  //   ion-backdrop {
  //     visibility: visible;
  //   }
  // }





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
