<div class="pins" *ngIf="!noOffersYet">

  <!-- <div class="pin" *ngFor="let list of offersList">
    <img src="{{list?.offerImage}}" alt="" tappable (click)="goToItemDetail(list)">
  </div> -->

  <!-- <div class="pin"> -->
  <ng-content select=".grid-image">

  </ng-content>
  <!-- </div> -->

</div>
<div text-center *ngIf="noOffersYet" style="padding-top: 30%">
  <h3>No Offers posted yet</h3>
</div>