<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Set Your Price</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgcolor">
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col>
        <div class="" style="border:1px solid green;border-radius:5px;padding:5px;">
          <ion-input class="font-26" text-center type="text" placeholder="$5" [(ngModel)]="postingService.price"></ion-input>
        </div>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    <div style="padding-top:10%;"></div>
    <ion-row style="background-color:white;">

      <ion-label class="font-18">Price Fixed</ion-label>
      <ion-toggle color="danger" checked="false" [(ngModel)]="postingService.priceFixed"></ion-toggle>
    </ion-row>





    <!-- <ion-row>

      <ion-label class="font-18">Featured Ad</ion-label>
      <ion-toggle color="" checked="true"></ion-toggle>
    </ion-row>

    <ion-row>

      <ion-label class="font-18">Share on Facebook</ion-label>
      <ion-toggle class="font-18" color="fb" checked="true"></ion-toggle>
    </ion-row>

    <ion-row>

      <ion-label class="font-18">Share on VK</ion-label>
      <ion-toggle color="vk" checked="true"></ion-toggle>
    </ion-row> -->

    <!-- <ion-row style="padding-top:20%">
      <ion-col col-2></ion-col>
      <ion-col>
        <button ion-button outline large block color="thcolor" [navPush]="'AdFinishPage'">Select Location</button>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row> -->
    <!--<ion-row>
<ion-item  style="background-color:wheat">
  <ion-label>Fixed Price?</ion-label>
  <ion-checkbox item-right color="dark" checked="true"></ion-checkbox>
</ion-item>
  </ion-row>


  <ion-row>
<ion-item  style="background-color:wheat">
  <ion-label>facebook</ion-label>
  <ion-checkbox item-right color="dark" checked="true"></ion-checkbox>
</ion-item>
  </ion-row>
    <ion-row>
<ion-item  style="background-color:wheat">
  <ion-label>Featured Add</ion-label>
  <ion-checkbox item-right color="dark" checked="true"></ion-checkbox>
</ion-item>
  </ion-row>-->
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <!--<h1><span class="blue">3</span></h1>-->
    <div style="padding-left:10px;padding-right:10px;">


        <button ion-button large block color="thcolor" [navPush]="'AdFinishPage'">Next</button>
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 542.03 123.1"><defs><style>.cls-1,.cls-3{fill:#4fba6f;}.cls-2,.cls-3,.cls-5{font-size:41.93px;font-family:Myriad Pro;}.cls-2{fill:#fff;}.cls-4,.cls-5{fill:#d1d3d4;}.cls-6{letter-spacing:-1px;}.cls-7{fill:#bcbec0;}</style></defs><title>proday wizard</title><circle class="cls-4" cx="52.52" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(41.76 47.83)">1</text><text class="cls-5" transform="translate(0 112.61)">P<tspan x="22.1" y="0">ho</tspan><tspan x="68.39" y="0">t</tspan><tspan x="82.02" y="0">o</tspan></text><circle class="cls-4" cx="198.67" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(187.92 46.68)">2</text><text class="cls-5" transform="translate(138.92 112.61)">D<tspan x="28.09" y="0">etails</tspan></text><circle class="cls-1" cx="344.82" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(334.07 46.68)">3</text><text class="cls-3" transform="translate(302.39 112.61)">P<tspan x="21.64" y="0">r</tspan><tspan x="35.52" y="0">i</tspan><tspan x="45.33" y="0">c</tspan><tspan x="63.86" y="0">e</tspan></text><circle class="cls-4" cx="490.98" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(480.22 46.68)">4</text><text class="cls-5" transform="translate(439.93 112.61)"><tspan class="cls-6">F</tspan><tspan x="19.33" y="0">inish</tspan></text><circle class="cls-7" cx="107.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="125.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="143.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="253.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="271.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="289.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="399.9" cy="34.37" r="7.06"/><circle class="cls-7" cx="417.9" cy="34.37" r="7.06"/><circle class="cls-7" cx="435.9" cy="34.37" r="7.06"/></svg>
        
        
        


     
    </div>
  </ion-toolbar>
</ion-footer>