<ion-header>

  <ion-navbar>
    <ion-title>Bump</ion-title>
    <ion-buttons end>
      <button color="thcolor" ion-button clear (click)="cancel()">Cancel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="bumpContent">
    <ion-row>

      <div style="border-radius:5px;text-align:center;">
        <img style="width:30%" src="{{offerImage}}">
      </div>
    </ion-row>


    <ion-row>
      <ion-col col-10 offset-1>
        <h3 text-center>Bump your item!</h3>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-label text-wrap text-center>Bumping your item moves it near the top of the feed so more buyers will see it.</ion-label>
    </ion-row>

    <ion-row style="border-top: 1px solid;border-bottom: 1px solid;">
      <ion-col>
        <ion-label>Price</ion-label>
      </ion-col>
      <ion-col text-right>
        <ion-label>$20</ion-label>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <button ion-button large block color="light" (click)="cancel()">Cancel</button>
      </ion-col>

      <ion-col>
        <button ion-button large block color="thcolor" (click)="bump()">Bump</button>
      </ion-col>
    </ion-row> -->
    <button ion-button large block color="thcolor" (click)="bump()">Bump</button>
  </ion-grid>

  <ion-grid style="padding:16px;" *ngIf="paymentContent">
    <form [formGroup]="stripeForm">
      <ion-row no-padding>
        <ion-item no-lines style="border: 1px solid #00a651; border-radius: 6px;"
        [class.invalid]="!stripeForm.controls.cardNumber.valid && stripeForm.controls.cardNumber.dirty"
        [class.valid]="stripeForm.controls.cardNumber.valid && (stripeForm.controls.cardNumber.dirty || submitAttempt)">
          <ion-label>
            <ion-icon name="ios-card"></ion-icon>
          </ion-label>
          <ion-input type="text" formControlName="cardNumber" placeholder="CARD" maxLength="16"></ion-input>
        </ion-item>

      </ion-row>

      <br>
      <ion-row no-padding style="border: 1px solid #00a651; border-radius: 6px;">
        <ion-col no-padding style="border-right:1px solid #00a651;">
          <ion-item no-lines style="border-radius:5px;"
          [class.invalid]="!stripeForm.controls.expDate.valid && (stripeForm.controls.expDate.dirty || submitAttempt)"
          [class.valid]="stripeForm.controls.expDate.valid && (stripeForm.controls.expDate.dirty || submitAttempt)">
            <ion-label>
              <ion-icon name="md-calendar"></ion-icon>
            </ion-label>
            <!-- <ion-input type="text" placeholder="MM/YY"></ion-input> -->
            <ion-datetime formControlName="expDate" displayFormat="MM/YY" pickerFormat="MM/YY" placeholder="MM/YY" max="{{maxYear}}"
              min="{{minYear}}">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col no-padding>
          <ion-item no-lines style="border-radius:5px;"
          [class.invalid]="!stripeForm.controls.cvc.valid && (stripeForm.controls.cvc.dirty || submitAttempt)"
          [class.valid]="stripeForm.controls.cvc.valid && (stripeForm.controls.cvc.dirty || submitAttempt)">
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="CVC" formControlName="cvc" maxLength="3"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <br>
      <br>
      <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button large block color="thcolor" (click)="pay()">Pay $25</button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>