// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bgcolor{
    background-color:#ececec;
}

.thcolor{
    color:#00a651;
}

.trans{
    background-color: transparent;
}
.background-image {
background: url('../assets/img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mapimage {
background: url('../assets/img/mapimage.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// .modal-wrapper {
//     position: absolute;
//     overflow: hidden;
//     // max-width: 280px;
//     border-radius: 2px;
//     width: 90%;
//     height: 60vh;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     border: 0;
//     box-shadow: 0 16px 20px rgba(0,0,0,.4);
//     background-color: #fafafa;
//   }

//     @media not all and (min-height: 600px) and (min-width: 768px) {
//   ion-modal ion-backdrop {
//     visibility: visible;
//   }
// }


.padding-button{
    padding: 16px 16px 0 16px;
}
.padding-field{
    padding: 10px 10px 10px 10px;
}
.font-6{
    font-size:6px;
}
.font-7{
    font-size:7px;
}
.font-8{
    font-size:8px !important;
}
.font-9{
    font-size:9px;
}
.font-10{
    font-size:10px;
}
.font-11{
    font-size:11px;
}
.font-12{
    font-size:12px;
}
.font-14{
    font-size:14px;
}
.font-16{
    font-size:16px;
}
.font-18{
    font-size:18px !important;
}
.font-20{
    font-size:20px;
}
.font-22{
    font-size:22px;
}
.font-24{
    font-size:24px;
}
.font-26{
    font-size:26px;
}
.font-28{
    font-size:28px;
}
.font-30{
    font-size:30px;
}
.font-32{
    font-size:32px;
}
.font-36{
    font-size:36px;
}
.font-40{
    font-size:40px;
}
//Global margin and padding:
.no-padding{
        padding: 0;
}
.no-margin{
    margin:0;
}
.no-margin-top{
    margin-top: 0px;
}
.no-margin-bottom{
    margin-bottom:0px;
}
.no-padding-left{
    padding-left:0;
}
.no-padding-right{
    padding-right:0;
}
.no-padding-top{
    padding-top:0;
}
.no-padding-bottom{
    padding-bottom:0;
}
.padding-left{
    padding-left: 8px;
}
.padding-right{
    padding-right:8px;
}
.padding-top{
    padding-top:5px;;
}
.padding-bottom{
    padding-bottom: 8px;
}
.padding-tp-12{
    padding-top:12px;
}
.padding-bt-12{
    padding-bottom:12px;
}
.margin-left{
    margin-left: 8px;
}
.margin-right{
    margin-right:8px;
}
.margin-top{
    margin-top:8px;
}
.margin-bottom{
    margin-bottom: 8px;
}
.margin-left-lg{
    margin-left: 16px;
}
.margin-right-lg{
    margin-right:16px;
}
.margin-top-lg{
    margin-top:16px;
}
.margin-bottom-lg{
    margin-bottom: 16px;
}
//Text alignment
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-white{
color: white;
}
.bg-white{
background-color: white;
}
.banner{
    // width: 100%;
    // height: 50px;
    text-align: center;
    color:#303030 ;
    // background-color:#db2002 ;
    // line-height: 50px;
    font-size: 22px;
    padding-top:20px;
    padding-bottom:20px;
}
.banner-home{
    width: 100%;
    height: 50px;
    text-align: center;
    color:white;
    background-color:#db2002 ;
    //line-height: 50px;
    font-size: 22px;
    padding-top:14px;
    //padding-bottom:14px;
    
}
.button-app{
    height:50px; font-size: 22px;
}
//Text-Shadows
.shadow{
    text-shadow: 1px 1px 4px #000000 ;
}
//cards
.card{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
//loader
.timeline-wrapper{
        margin-top:20px;
    }
.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 ;
    border-radius: 3px;
    padding: 12px;
  margin: 0 auto;
    max-width: 472px;
    min-height: 200px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8 ;
    background: linear-gradient(to right, #343b4b 8%, #675a19 18%, #343b4b 33%);
    background-size: 800px 104px;
    position: relative;
}
.p-back{
    height: 150px;
    width: 100%;
}
/*---------------display toggle----------------*/
.display-none{
    display: none;
}
.display-block{
    display: block;
}
/*--------------colors----------------*/
.text-red{
    color:red;
}
.text-white{
    color:white;
}
/*--------------background colors----------------*/
.bg-fff{
    background-color:#fff;
}
.bg-eee{
    background-color:#eee;
}
.bg-000{
    background-color: #000;
}
/*--------------widths----------------*/
.width-full{
    width:100%;
}
/*--------------heights----------------*/
.height-full{
    height:100%;
}
.height-10{
    height:10px;
}
.height-20{
    height:20px;
}
.height-30{
    height:30px;
}
.height-40{
    height:40px;
}
.height-50{
    height:50px;
}
.height-60{
    height:60px;
}
.height-70{
    height:70px;
}
.height-80{
    height:80px;
}
.height-90{
    height:90px;
}
.height-100{
    height:100px;
}
/*--------------margins----------------*/
.mg-auto{
    margin-right: auto;
    margin-left:auto;
}
.mg-tp-10{
    margin-top:10px;
}
.mg-tp-20{
    margin-top:20px;
}
.mg-tp-30{
    margin-top:30px;
}
.mg-tp-40{
    margin-top:40px;
}
.mg-tp-50{
    margin-top:50px;
}
.mg-tp-60{
    margin-top:60px;
}
.mg-tp-70{
    margin-top:70px;
}
.mg-tp-80{
    margin-top:80px;
}
.mg-tp-90{
    margin-top:90px;
}
.mg-tp-100{
    margin-top:100px;
}
.mg-tp-110{
    margin-top:110px;
}
.mg-tp-120{
    margin-top:120px;
}
.mg-tp-130{
    margin-top:130px;
}
/*--------------paddings----------------*/
.no-padding{
    padding: 0px !important;
}
.pd-all-xs{
    padding: 2px !important;
}
.pd-all-sm{
    padding: 5px !important;
}
.pd-tp-10{
    padding-top:10px;
}
.pd-tp-20{
    padding-top:20px;
}
.pd-tp-30{
    padding-top:30px;
}
.pd-tp-40{
    padding-top:40px;
}
.pd-tp-50{
    padding-top:50px;
}
.pd-tp-60{
    padding-top:60px;
}
.pd-tp-70{
    padding-top:70px;
}
.pd-tp-80{
    padding-top:80px;
}
.pd-tp-90{
    padding-top:90px;
}
.pd-tp-100{
    padding-top:100px;
}
.pd-bt-10{
    padding-bottom:10px;
}
.pd-bt-20{
    padding-bottom:20px;
}
.pd-bt-30{
    padding-bottom:30px;
}
.pd-bt-40{
    padding-bottom:40px;
}
.pd-bt-50{
    padding-bottom:50px;
}
.pd-bt-60{
    padding-bottom:60px;
}
.pd-bt-70{
    padding-bottom:70px;
}
.pd-bt-80{
    padding-bottom:80px;
}
.pd-bt-90{
    padding-bottom:90px;
}
.pd-bt-100{
    padding-bottom:100px;
}
.pd-lt-10{
    padding-left:10px;
}
.pd-lt-20{
    padding-left:20px;
}
.pd-lt-30{
    padding-left:30px;
}
.pd-lt-40{
    padding-left:40px;
}
.pd-lt-50{
    padding-left:50px;
}
.pd-lt-60{
    padding-left:60px;
}
.pd-lt-70{
    padding-left:70px;
}
.pd-lt-80{
    padding-left:80px;
}
.pd-lt-90{
    padding-left:90px;
}
.pd-lt-100{
    padding-left:100px;
}
.pd-rt-10{
    padding-right:10px;
}
.pd-rt-20{
    padding-right:20px;
}
.pd-rt-30{
    padding-right:30px;
}
.pd-rt-40{
    padding-right:40px;
}
.pd-rt-50{
    padding-right:50px;
}
.pd-rt-60{
    padding-right:60px;
}
.pd-rt-70{
    padding-right:70px;
}
.pd-rt-80{
    padding-right:80px;
}
.pd-rt-90{
    padding-right:90px;
}
.pd-rt-100{
    padding-right:100px;
}
/*--------------border--------------*/
.brdr-tp-grey{
    border-top: 1px solid #bfbfbf;
}
.brdr-bt-grey{
    border-bottom: 1px solid #bfbfbf;
}
.brdr-rt-grey{
    border-right: 1px solid #bfbfbf;
}