<!--
  Generated template for the Designs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>designs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgcolor">

<div>
   <ion-label stacked>Title</ion-label>
  <div style="border:1px solid green;padding-left:5px;padding-right:5px;border-radius:5px;">
     <ion-input type="text" placeholder="Offer Title"></ion-input>
  </div>
</div>


<div style="padding-top:20%;">
  
<button ion-button block large outline color="thcolor">
  <ion-icon name="camera" item-start style="padding-right:10px;"></ion-icon>
  Take Photo
  </button>
</div>
<div style="padding-top:5px;">
<button ion-button block large outline color="thcolor">
  <ion-icon name="images" item-start style="padding-right:10px;"></ion-icon>
Select Photo
</button>
</div>




<div>
  <ion-label>Condition</ion-label>
    <!--<ion-label>step=100, snaps, </ion-label>-->
    <ion-range min="0" max="10" step="1" snaps="true" color="danger" [(ngModel)]="singleValue4">

        <ion-label range-left color="danger">0</ion-label>
        <ion-label range-right color="danger">10</ion-label>

    </ion-range>
</div>




<div>
   <ion-label stacked>Description</ion-label>
  <div style="border:1px solid green;padding-left:5px;padding-right:5px;border-radius:5px;">
     <ion-textarea type="text" placeholder="Offer Title"></ion-textarea>
  </div>
</div>


<ion-grid>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col>
<div padding style="border:1px solid">
   <ion-input text-center type="text" placeholder="$5"></ion-input>
</div>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>


  <ion-row>
<ion-item  style="background-color:wheat">
  <ion-label>Fixed Price?</ion-label>
  <ion-checkbox item-right color="dark" checked="true"></ion-checkbox>
</ion-item>
  </ion-row>


  <ion-row>
<ion-item  style="background-color:wheat">
  <ion-label>facebook</ion-label>
  <ion-checkbox item-right color="dark" checked="true"></ion-checkbox>
</ion-item>
  </ion-row>
    <ion-row>
<ion-item  style="background-color:wheat">
  <ion-label>Featured Add</ion-label>
  <ion-checkbox item-right color="dark" checked="true"></ion-checkbox>
</ion-item>
  </ion-row>
</ion-grid>



</ion-content>
