<ion-header>

  <ion-navbar color="thcolor">
    <ion-buttons end>
      <button style="font-size:20px;" ion-button (click)="goToCategories()">
        <!-- <span color="light" showWhen="ios">Cancel</span> -->
        <ion-icon name="ios-keypad"></ion-icon>
      </button>

      <button style="font-size:20px;" ion-button [navPush]="'Categories'">
        <!-- <span color="light" showWhen="ios">Cancel</span> -->
        <ion-icon name="ios-person-add"></ion-icon>
      </button>

      <button style="font-size:20px;" ion-button [navPush]="'LocationPage'">
        <!-- <span color="light" showWhen="ios">Cancel</span> -->
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>Proday24</ion-title> -->
  </ion-navbar>
  <ion-searchbar style="background:rgb(0, 166, 81);border:0px !important;" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

</ion-header>


<ion-content>
  <!-- <div class="pins">
    <div class="pin" *ngFor="let list of offersList">
      <img src="{{list?.offerImage}}" alt="" tappable (click)="goToItemDetail(list)">
    </div>

  </div> -->
  <grid-layout [noOffersYet]="noOffersYet">
    <div class="grid-image" *ngFor="let list of offersList">
      <img src="{{list?.offerImage}}" alt="" tappable (click)="goToItemDetail(list)">
    </div>
  </grid-layout>
</ion-content>