<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Report</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item nolines style="background-color: transparent;">
    <ion-thumbnail item-start>
      <img src="{{itemDetails?.profileImage}}">
    </ion-thumbnail>
    <h2>{{itemDetails?.profileName}}</h2>
    <p>{{(itemDetails?.dateCreated) * 1000 | date}}</p>

  </ion-item>

  <div padding>
    <h6 padding-left padding-top>Why do you want to report this item? </h6>


    <ion-textarea [(ngModel)]="text" style="border:1px solid grey; border-radius:5px;background-color:white;" rows="10" type="text" placeholder="Please Write your note here.."></ion-textarea>

    <br>
    <br>
    <br>

    <button ion-button large block color="thcolor" (click)="postReport(text)">Done</button>
  </div>
</ion-content>