<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>{{'POST.TITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bgcolor">
  <div *ngIf="postService?.images.length == 0" style="padding-top:10%;">
    <button ion-button block large outline color="thcolor" (click)="takeAPicture()">
      <ion-icon name="camera" item-start style="padding-right:10px;"></ion-icon>
      {{ 'POST.Take a photo' | translate }}
    </button>
  </div>
  <div *ngIf="postService?.images.length == 0" style="padding-top:5px;">
    <button ion-button block large outline color="thcolor" (click)="chooseFromGallery()">
    <ion-icon name="images" item-start style="padding-right:10px;"></ion-icon>
    {{'POST.Select Photos' | translate}}
    </button>
  </div>


  <ion-grid>

    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <div text-center *ngIf="postService.images[0]">
          <button ion-fab mini (click)="remove()" style="position:absolute;right:20%;background-color:#e05666;"><ion-icon name="trash"></ion-icon></button>
          <img src="{{postService.images[0]['base64Image']}}" style="width:50%;padding-top:10px;border-radius:3px;">
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

    <ion-row>
      <div text-center>
        <ion-label>{{'POST.Add up to' | translate}} 4 {{'POST.more photos' | translate}} ({{'POST.optional' | translate}})</ion-label>
      </div>
    </ion-row>


    <ion-row nowrap>
      <div *ngFor="let image of postService.images" style="padding-right:5px;" tappable (click)="viewPhoto(image.base64Image)">
        <img src="{{image.base64Image}}" alt="" style="width:50px;height:50px;border-radius:3px;">
      </div>
    </ion-row>
  </ion-grid>
  <div *ngIf="postService?.images.length > 0 && postService?.images.length < 4" style="padding-left:25%;">
    <button ion-button clear (click)="takePhoto()">
      <ion-icon name="md-camera" class="font-40"></ion-icon>
    </button>
  </div>

  <div>
    <ion-label stacked class="font-18" style="padding-bottom:5px;">{{'POST.TITLE' | translate}}</ion-label>
    <div class="font-18" style="border:1px solid green;padding-left:5px;padding-right:5px;border-radius:5px;">
      <ion-input type="text" placeholder="What is it? Name, Brand, model etc" [(ngModel)]="postService.title"></ion-input>
    </div>
    <div *ngIf="emptyTitle && !postService.title.dirty">
      <p style="color: #ea6153">Please enter a title.</p>
    </div>
  </div>
  <!-- <button ion-button (click)="picupload()">Pic Upload</button> -->
  <!-- <button ion-button clear (click)="remove()">
  <ion-icon name="trash" class="font-40"></ion-icon>
</button> -->
</ion-content>


<ion-footer>
  <ion-toolbar>

    

    <!--<h1><span class="blue">3</span></h1>-->
    <div style="padding-left:10px;padding-right:10px;">


        <button ion-button large block color="thcolor" (click)="next()">{{'POST.NEXT' | translate}}</button>

      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 542.03 123.1"><defs><style>.cls-1,.cls-3{fill:#4fba6f;}.cls-2,.cls-3,.cls-5{font-size:41.93px;font-family:Myriad Pro;}.cls-2{fill:#fff;}.cls-4,.cls-5{fill:#d1d3d4;}.cls-6{letter-spacing:-1px;}.cls-7{fill:#bcbec0;}</style></defs><title>proday wizard</title><circle class="cls-1" cx="52.52" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(41.76 47.83)">1</text><text class="cls-3" transform="translate(0 112.61)">P<tspan x="22.1" y="0">ho</tspan><tspan x="68.39" y="0">t</tspan><tspan x="82.02" y="0">o</tspan></text><circle class="cls-4" cx="198.67" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(187.92 46.68)">2</text><text class="cls-5" transform="translate(138.92 112.61)">D<tspan x="28.09" y="0">etails</tspan></text><circle class="cls-4" cx="344.82" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(334.07 46.68)">3</text><text class="cls-5" transform="translate(302.39 112.61)">P<tspan x="21.64" y="0">r</tspan><tspan x="35.52" y="0">i</tspan><tspan x="45.33" y="0">c</tspan><tspan x="63.86" y="0">e</tspan></text><circle class="cls-4" cx="490.98" cy="34.37" r="34.37"/><text class="cls-2" transform="translate(480.22 46.68)">4</text><text class="cls-5" transform="translate(439.93 112.61)"><tspan class="cls-6">F</tspan><tspan x="19.33" y="0">inish</tspan></text><circle class="cls-7" cx="107.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="125.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="143.59" cy="34.37" r="7.06"/><circle class="cls-7" cx="253.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="271.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="289.75" cy="34.37" r="7.06"/><circle class="cls-7" cx="399.9" cy="34.37" r="7.06"/><circle class="cls-7" cx="417.9" cy="34.37" r="7.06"/><circle class="cls-7" cx="435.9" cy="34.37" r="7.06"/></svg>




     
    </div>
  </ion-toolbar>
</ion-footer>