google-map {
    #map {
        width: 100%;
        height: 300px;
        // position: fixed !important; // left: 50%;
        bottom: 26px; // transform: translate(-50%, -50%);
    }
    a[href^="http://maps.google.com/maps"],
    a[href^="https://maps.google.com/maps"],
    a[href^="https://www.google.com/maps"] {
        display: none !important;
    }
    .gmnoprint:not(.gm-bundled-control) {
        display: none;
    }
    .gm-bundled-control .gmnoprint {
        display: block;
    }
}