<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Rate the Buyer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <div>
    <br>
    <ion-fab center>
      <button color="thcolor" ion-fab>
        <ion-icon name="md-star"></ion-icon>
      </button>
    </ion-fab>

  </div>
  <div text-center>
    <br>
    <br>
    <br>

    <h3>Rate your recent sale</h3>

    <ion-label>Positive rating improve your reputation.
      <br> Rate and get rated.</ion-label>
    <br>

    <img src="{{item?.offerImage}}"
      style="width:40%;border-radius: 5px;">
    <br>
  </div>


  <div>
    <br>
    <ion-label margin-left>CONFIRM YOUR BUYER</ion-label>
    <div radio-group [(ngModel)]="user">
      <div *ngIf="list">
        <ion-item *ngFor="let list of soldList" no-lines style="border: 1px solid grey;">
          <ion-avatar item-start>
            <img [src]="list.profileImage">
          </ion-avatar>
          <div item-left>
            <h2 class="font-bold">{{list.profileName}}</h2>
          </div>
          <ion-radio (ionSelect)="select(list)" value="{{list.userId}}" mode="md" color="thcolor"></ion-radio>
        </ion-item>
      </div>
      <ion-item no-lines style="border: 1px solid green;">

        <div item-left>
          <h2 class="font-bold">Sold it somewhere else</h2>


          <p>I didn't sell it on Offerup</p>

        </div>
        <ion-radio value="someWhereElse" mode="md" color="thcolor"></ion-radio>
      </ion-item>
    </div>

    <!-- <ion-item no-lines style="border: 1px solid grey;">
      <ion-avatar item-start>
        <img src="https://pbs.twimg.com/profile_images/668279339838935040/8sUE9d4C.jpg">
      </ion-avatar>
      <div item-left>
        <h2 class="font-bold">Marty McFly</h2>


        <p>Singer</p>

      </div>
      <ion-radio checked="true" value="go" mode="md" color="thcolor"></ion-radio>
    </ion-item> -->


    <!-- <ion-item no-lines style="border: 1px solid green;">

      <div item-left>
        <h2 class="font-bold">Sold it somewhere else</h2>


        <p>I didn't sell it on Offerup</p>

      </div>
      <ion-radio value="someWhereElse" mode="md" color="thcolor"></ion-radio>
    </ion-item> -->
  </div>

</ion-content>



<ion-footer style="border-top: 1px solid grey;">
  <div style="padding:5px;">
    <button ion-button block color="thcolor" (click)="submit()">Submit</button>
  </div>
</ion-footer>