<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{ 'ABOUT.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <div *ngIf="isLoggedIn">

    <!--<div class="topcontent">

      <div class="font-22" style="padding-left:90%;padding-top:5%;">
        <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col width-45></ion-col>
          <ion-col>
            <div text-center class="company-header-avatar" style="background-image: url(https://i.dawn.com/medium/2017/04/5902bc1a6bac8.jpg)">

              <ion-icon name="person" item-start></ion-icon>

            </div>
          </ion-col>
          <ion-col width-45></ion-col>
        </ion-row>
      </ion-grid>

      <div text-center>
        <ion-label>Nawaz Sharif</ion-label>
        <ion-label>Joined 2017</ion-label>
      </div>

    </div>-->



    <div class="topcontent">
      <br>

      <div class="font-22" style="text-align:right;padding-right:10px;">
        <button ion-button icon-only clear (click)="share()">
          <ion-icon color="light" name="md-person-add" style="padding-right:10px;"></ion-icon>
        </button>
        <button ion-button icon-only clear>
          <ion-icon [navPush]="'SettingsPage'" color="light" name="settings" style="padding-right:10px;"></ion-icon>
        </button>
        <button ion-button icon-only clear>
          <ion-icon color="light" name="help-circle"></ion-icon>
        </button>
      </div>


      
    <div *ngIf="userInfo" id="avatar" [style.background-image]="image" tappable (click)="takePhoto()">
      <ion-icon style="position: relative;top: 70%;left: 38%;font-size:35px;color:whitesmoke;" name="camera"></ion-icon>
    </div>

    <div *ngIf="userInfo == null" id="avatar" [style.background-image]="image" tappable (click)="takePhoto()">
      <ion-icon style="position: relative;top: 70%;left: 38%;font-size:35px;color:whitesmoke;" name="camera"></ion-icon>
    </div>

    </div>



    <div style="padding-top:18%;" text-center>
      <ion-label style="font-weight:bold;font-size:18px;">{{userInfo.firstName}}</ion-label>
      <ion-label>city,country</ion-label>
      <!-- <ion-label>stars rating</ion-label> -->
      <rating [ngModel]="rating" readOnly="true" max="5" emptyStarIconName="md-star-outline" starIconName="md-star"></rating>

    </div>



    <div style="padding-top:10px;">
      <div >
          <ion-item class="itempadding" [navPush]="'ProfilePage'">
                <button ion-fab mini item-left color="thcolor"><ion-icon name="calendar"></ion-icon></button>
                <ion-label>Joined {{userInfo.dateCreated}}</ion-label>
            </ion-item>
      </div>

      <ion-list>

          <ion-item class="itempadding">
                <button ion-fab mini item-left color="light"><ion-icon name="call"></ion-icon></button>
                <ion-label>Join TruYou</ion-label>
            </ion-item>

            <ion-item class="itempadding">
                <button ion-fab mini item-left color="light"><ion-icon name="call"></ion-icon></button>
                <ion-label>Confirm phone</ion-label>
            </ion-item>


            <ion-item class="itempadding">
                <button ion-fab mini item-left color="thcolor"><ion-icon name="mail"></ion-icon></button>
                <ion-label>{{userInfo.email}}</ion-label>
            </ion-item>


            <ion-item class="itempadding">
                <button ion-fab mini item-left color="fb"><ion-icon name="logo-facebook"></ion-icon></button>
                <ion-label>Facebook connected</ion-label>
            </ion-item>

        <!-- <ion-item class="item-borderless" [navPush]="'SettingsPage'">
          <ion-icon name="person" item-start></ion-icon>
          View Public Profile
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>

        <ion-item [navPush]="'SettingsPage'" tappable>
          <ion-icon name="settings" item-start></ion-icon>
          Settings
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>

        <ion-item>
          <ion-icon name="help-circle" item-start></ion-icon>
          Help Center
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>

        <ion-item>
          <ion-icon name="document" item-start></ion-icon>
          About
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item> -->
      </ion-list>
    </div>

    <button ion-button block (click)="translateToEnglish()">Translate to ENG</button>
    <button ion-button block (click)="translateToRussian()">Translate to RUS</button>

    <div text-center>
      <button ion-button color="light" (click)="logout()">Log Out</button>
    </div>
  </div>
</ion-content>