<ion-header>

  <ion-navbar color="thcolor">
    <ion-title>Make Offer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: rgba(0,0,0,0.65);background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; background-repeat: no-repeat; background-position: center;">



  <ion-grid style="padding-top:10%;">
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <div class="padding-field" style="border:1px solid green;background-color:whitesmoke;">
          <ion-input type="number" class="font-26" text-center [disabled]="inputDisabled ? '' : null" [(ngModel)]="itemDetails.price"></ion-input>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>



    <ion-row>
      <p text-wrap class="font-18" style="color:white;">Enter your offer for {{itemDetails.title}}...</p>

    </ion-row>
  </ion-grid>



  <div style="position: fixed;bottom: 10px;left: 16px;right: 16px;">
    <button ion-button large block color="thcolor" (click)="makeOffer()">Make Offer</button>
  </div>
</ion-content>