<ion-content padding class="bgcolor">


   <div text-center style="padding-top:5%;">
    <img src="assets/img/logo.png" style="width:50%" alt="">
  </div>

  <div style="padding-top:20%;"></div>

  <!-- <div style="border:1px solid;color: #6f6f6f;font-size:18px;">
    <ion-input type="text" placeholder="Email" style="padding-left:10px;padding-right:10px;"></ion-input>
  </div>

  <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
    <ion-input type="password" placeholder="password" style="padding-left:10px;padding-right:10px;"></ion-input>
  </div>

  <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
    <ion-input type="text" placeholder="Full Name" style="padding-left:10px;padding-right:10px;"></ion-input>
  </div>

  <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
    <ion-input type="number" placeholder="Telephone" style="padding-left:10px;padding-right:10px;"></ion-input>
  </div>  -->


  <form [formGroup]="signupForm">
    <h4 text-center>Sign Up</h4>
    <div style="border:1px solid;color: #6f6f6f;font-size:18px;">
      <ion-input formControlName="email" type="email" placeholder="Email" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid email.</p>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input formControlName="password" type="password" placeholder="password" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid password.</p>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input formControlName="firstName" type="text" placeholder="First Name" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid name.</p>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input formControlName="lastName" type="text" placeholder="Last Name" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid name.</p>
    </div>

    <div style="border:1px solid;color: #6f6f6f;margin-top:20px;font-size:18px;">
      <ion-input formControlName="phone" type="number" placeholder="Telephone" style="padding-left:10px;padding-right:10px;"></ion-input>
    </div>
    <div class="no-border" *ngIf="!signupForm.controls.phone.valid  && (signupForm.controls.phone.dirty && submitAttempt)">
      <p style="color: #ea6153">Please enter a valid phone number.</p>
    </div>

    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="thcolor" (click)="signup()">Sign Up</button>
    </div>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="light" (click)="login()">Log In</button>
    </div>
  </form>
  <!--<div text-center style="font-size:15px;">
  <p>Forgot Password?</p>
</div>-->



</ion-content>