<ion-content>

  <!-- <div [hidden]="hideRegistration">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="light" (click)="loginContent()">Log in</button>
          <button ion-button color="light" (click)="signupContent()">Sign Up</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="padding-top:10%;padding-left:10px;padding-right:10px;">
      <button ion-button large block color="light" (click)="cancel()">Cancel</button>
    </div>
  </div> -->
  <button *ngIf="!fromTabs" ion-button clear color="thcolor" (click)="skip()">Skip</button>
  <button *ngIf="fromTabs" ion-button clear color="thcolor" (click)="cancel()">Cancel</button>
  <page-landing *ngIf="!hideRegistration"></page-landing>

  <!-- <page-login [hidden]="hideLogin"></page-login> -->
  <page-login *ngIf="!hideLogin"></page-login>
  <page-signup *ngIf="!hideSignup"></page-signup>
</ion-content>